* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 18em;
    right: 66.5em;
    border-radius: 25px;
    padding: 18px 49px;
    background: rgb(150, 181, 240);
}

button:hover {
    background-color: rgb(19, 68, 192);
    color: white ;
}

#yellow-lamp {

    display: none;
    position: absolute;
    top: 1px;
    right: 1307px;
}

